name: "Terraform Destroy"

on:
  workflow_dispatch: # Allows you to trigger this manually from the Actions tab

jobs:
  terraform-destroy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::884458154630:role/GitHubActions-DR-Role
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init # Connects to your S3 backend

      - name: Terraform Destroy
        run: terraform destroy -auto-approve        